{% extends 'base.html.twig' %}

{% block title %} Articles {%  endblock title %}

{% block body  %}

    <h1>Le test</h1>

    {% for article in articles %}

{#je lis mon lien à ma page article via la fonction path() de twig, ainsi je le nomme par son nom plutot que par
ledit chemin + je peux donner la valeur article.id à l'élément id que j'ai précisé comme variable (WILDCARD) dans mon PagesController#}
        <h2><a href="{{ path('show_article', {id: article.id}) }}">{{ article.title }}</a></h2>

        <a href="{{ path('remove_article', {id: article.id}) }}"> DELETE L'ARTICLE CI-DESSUS</a>

    {% endfor %}
    <br>
    <br>
    <a href="{{ path('insert_article') }}">RAJOUTER UN ARTICLE</a>

{% endblock body %}
