{% extends 'base.html.twig' %}

{% block title %} Insérer un article {%  endblock title %}

{% block body  %}

    <h1>TEST</h1>

{# Pour transmettre le formulaire sur la page html.twig, on utilise la fonction twig form() dans laquelle on insère la variable
formview made in ArticlesController (envoyée depuis le Controller)#}
    {{ form(formview) }}

{% endblock body %}