{% extends 'base.html.twig' %}

{% block title %} Categories {%  endblock title %}

{% block body  %}
    <h1>Categories</h1>

    {% for category in categories %}


        <h2 style="color: {{ category.color }}">{{ category.title }} </h2>

    {% endfor%}

{% endblock body %}
